header{
    background-color: aquamarine;
    font-size: 2rem;
    text-align: center;
    padding: 3rem;;
    border-radius: 2rem;
}

.ejemplos{
    text-align: center;
    background-color: tomato;
    width: 70%;
    margin: auto;
    padding: 2rem;
    margin-top: 2rem;
    border: 1px solid black;
    border-radius: 2rem;
    
}
.ejemplos a{
    text-decoration: none;
    color: rgb(8, 9, 9);
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
    

}

.ejemplos a:hover{
    background-color: aqua;
    border-radius:2rem ;
    width: 40%;
    margin: auto;
    border: 1px solid black;
    border-radius: 2rem;
    padding-bottom: 3rem;
}

